@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: #222;
    line-height: 1.0;
    margin: 0 auto;
}
.navbar{
    padding: .8rem;
}
.navbar-nav li{
    padding-right: 20px;
    position: relative;
    float: left;
}
.navbar-nav li a{color:#fff; text-decoration:none; padding:5px 10px; display:block;}
.navbar-nav li a:hover{
    color:#fff;
}
.nav-link{
    font-size: 1.1em !important;
}
.navbar-nav li ul{
    position:static;
    top:25px;
    left:0;
    display:none;
    padding-right: 20px;
}
.navbar-nav li:hover ul, .navbar-nav li.over ul{display: block; }
.navbar-nav li ul li{
    /*border:1px solid #c0c0c0;*/
    background-color: #ffffff; /*#c0c0c0;*/
    display:block;
    width:150px;
}
.navbar-brand img {
    margin-top: auto;
    margin-left: none;
    max-width: 49px;
    max-height: 170px;
    width: auto;
    height: auto;
}
.carousel-inner img{
    width: 100%;
    height: 100%;
    padding-top: 0%;
    margin-top: 0%;
}
.carousel-caption{
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
}
.carousel-caption h1{
    font-size: 500%;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000;
    color: #ffffff;
}
.carousel-caption h3{
    font-size: 200%;
    font-weight: 500;
    color: #ffffff;
    text-shadow: 1px 1px 10px #000;
    padding-bottom: 1rem;
    padding-top: 1rem;
}
.carousel-caption h4{
    font-size: 100%;
    font-weight: 500;
    color: #ffffff;
    text-shadow: 1px 1px 10px #000;
    padding-bottom: 1rem;
    padding-top: 0;
}
.btn-primary {
    background-color: #6648b1;
    border: 1px solid #6648b1;
    padding: auto;
}
.btn-primary:hover{
    background-color: #563d7c;
    border: 1px solid #563d7c;
}
.btn-danger{
    padding: auto;
}
.btn-outline{
    padding: auto;
}
.jumbotron{
    padding: 1rem;
    border-radius: 0;
}
.padding{
    padding-bottom: 2rem;
}
.welcome{
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
}
.welcome hr{
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-top: .3rem;
    margin-bottom: 1rem;
}
.fa-arrow-left{
    color: #bb0000;
    font-size: 2.0em;
}
.fa-arrow-right{
    color: #bb0000;
    font-size: 2.0em;
}
.fa-book{
    color: #e54d26;
}
.fa-university{
    color: #563d7c;
}
.fa-bible{
    color: #2163af
}
.fa-youtube{
    font-size: 2.5em;
    color: #bb0000;
}
.fa-youtube:hover{
    color: #d5d5d5;
}
.fa-book, .fa-university, .fa-bible{
    font-size: 4em;
    margin: 1rem;
}
.fa-arrow-alt-circle-up{
    font-size: 1.5em;
    color: #bb0000;
}

iframe#form-edital{
    width: 900px;
    height: 1200px;
}
/*body {
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.0;
    margin: 0 auto;
    max-width: 1100px;
    padding: 1em 1em 1em 1em;
    width: 100%;
    height: 100%;
}*/


/*---Media Queries --*/
@media (max-width: 992px) {
    .social a {
        font-size: 4em;
        padding: 2rem;
    }
  }
@media (max-width: 768px) {
    .carousel-caption{
        top: 45%;
    }
    .carousel-caption h1{
        font-size: 350%;
    }
    .carousel-caption h3{
        font-size: 140%;
        font-weight: 400;
        padding-bottom: .2rem;
    }
    .carousel-caption .btn{
        font-size: 95%;
        padding: 8px 14px;
    }
    .fa-arrow-left{
        font-size: 1.5em;
    }
    .fa-arrow-right{
        font-size: 1.5em;
    }
    iframe#form-edital{
        width: 600px;
        height: 800px;
    }
}
@media (max-width: 576px) {
    .fa-arrow-left{
        font-size: 1.0em;
    }
    .fa-arrow-right{
        font-size: 1.0em;
    }
    iframe#form-edital{
        width: 160px;
        height: 220px;
    }
}

/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding-left: .5em;
    padding-top: 0em;
    padding-right: .5em;
    padding-bottom: 2em;
    /*4rem 0rem 2rem 2rem*/
    /*0 4% .5em 4%*/
}
.col-12{
    padding: 0 1em .5em 0;
}
.card{
    /*margin: 1px 2px 1px 2px;*/
    width: 260px;
    height: 270px;
}
.colab{
    margin: 1px 2px 1px 2px;
    width: 100px;
    height: 150px;
}
.colab img{
    width: 100px;
    height: 150px;
}
.hotsite img{
    width: 260px;
    height: 200px;
}
/*html {
    background: #e6e9e9;
    background-image: linear-gradient(270deg, rgb(230, 233, 233) 0%, rgb(216, 221, 221) 100%);
    -webkit-font-smoothing: antialiased;
}*/
header {
    /*background-image: url('../img/fundo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #f1f1f1;*/
    display: flex;
    flex-direction: column;
    align-items: right;
    text-align: right;
    padding: 10px;
}
.grid-container{
    margin: 0 auto;
    padding: 30px;
    display: grid;
    grid-template-columns: minmax(200px, 1fr) minmax(200px, 1fr) minmax(200px, 1fr) minmax(200px, 1fr);
    grid-gap: 30px;
    background-color: none;
    padding: 2rem;
    border: none;
}
.grid-item{
    background-color: none;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 5px;
    font-size: 16px;
    text-align: left;
    border: none;
}
.container{
    display:auto;
    border: 4px;
    text-align: justify;
    padding: 1em;
}
h3.blog{
    text-align: center;
    font-size: 45px;
}
h6.signature{
    text-align: center;
    font-size: 18px;
}
h6.blog{
    text-align: center;
    font-size: 18px;
}
h6.indice{
    text-align: center;
    font-size: 16px;
    font-style: italic;
}
h6.indice2{
    text-align: center;
    font-size: 14px;
}
mark{
    background: #ffff00;
}
blockquote{
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    font-style: italic;
}
p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-style: hidden;
    font-size: 13px;
    font-weight: 400;
}
p.blocktext{
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    max-width: 40em;
    min-width: auto;
    font-size: 18px;
    word-wrap: break-word;
}
ol{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-style: hidden;
    font-size: 13px;
    font-weight: 400;
}
ol.blocktext{
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    max-width: 40em;
    min-width: auto;
    font-size: 18px;
}
.video-responsive{
    overflow: hidden;
    padding-bottom: 56.25%;
    position: absolute;
    height: 0;
    margin: 30px 0px;
}
.video-responsive iframe{
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}
h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;
    line-height: 1.3;
}
h2 {
    margin-top: 1.3em;
}
a {
    color: #3c3b37;/*#0083e8*/
    text-decoration: none;
}
b, strong {
    font-weight: 600;
}
samp {
    display: none;
}
.footer, .footer p a {
    list-style: none;
    margin: 0;
    padding: 0;
    max-width: none;
    text-align: left;
    font-weight: 180;
    line-height: 1.0;
    font-size: small;
    padding: .3rem;
    background-color: #2163af;
    color: #f5f5f5;/*#3c3b37*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 100%;
}
.footer h6 {
    color: #f5f5f5;
    font-weight: 600;
    line-height: 1.3;
}
.footer hr{
    background: none;
    clear: both;
    float: none;
    width: 100%;
    height: 1px;
    border: none;
}
ul{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
img {
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    /* border: 10px solid rgba(0, 0, 0, 0.12); */
    /*border-radius: 4px; */
    display: block;
    margin: 1.3em auto; 
    max-width: 80%;
}
@keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/